@model IEnumerable<SignalR.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
           
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            
            <div class="progress">
                <div id="@item.Id" class="progress-bar" role="progressbar" style="width:@item.Progress%" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


@section scripts
{
    <script src="/signalr/hubs"></script>
    <script>

        $(function () {
            // Declare a proxy to reference the hub.
            $.connection.hub.logging = true;
            var notifications = $.connection.taskHub;

            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                alert('Call again');
                getProgress();

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                alert("connection started")
                getProgress();
            }).fail(function (e) {
                alert(e);
            });
        });

      
        function getProgress() {
            
            $.ajax(
                {
                    url: '@Url.Action("GetTaskProgress")',
                    success: function (result) {
                       

                        for (var i = 0; i < result.length; i++) {
                            if ($('#' + result[i].Id).length > 0 )
                                {
                                    $('#' + result[i].Id).attr("aria-valuenow", result[i].Progress);
                                    $('#' + result[i].Id).attr("style", "width:" + result[i].Progress + "%");
                            }
                            else
                            {
                                          // New Records here
                            }
                        }
                    }
                    
                }
            ).fail(function(jqXHR, textStatus, error) {
                alert('Failed');
            })
        }

    </script>
    
}